.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
  background-color: #2F303A;
}





/* NAVBAR */

.navbar {
  width: 100%;
  height: 50px;
  background-color: #202027;
  display: flex;
  align-items: center;
}

.navbar .navBarLeft{
  margin-left: 15px;
}

.navbar .loginout{
  flex: 50%;
  height: 100%;
  margin-right: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}





/* REGISTER AND LOGIN */

.header{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 90px;
  margin-left:250px;
  color: white;
  font-weight: 750;
}

.field {
  background-color: #202027;
  color: white;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 40px;
  border: 2px solid #0B4067;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 20px;
}

.formContainer button {
  margin-top: 15px;
  height: 40px;
  border: none;
  background-color: #0B4067;
  border-radius: 5px;
  color: white;
}

.formContainer button:hover {
  cursor: pointer;
  background-color: lightskyblue;
}

/* REGISTER */

.registerContainer {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.registerContainer .formContainer {
  color:white;
  width: 200px;
  margin-left: 220px;
  margin-right: 50px;
  background-color: #202027;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 500px;
  height: auto;
  padding: 20px;
  border: 2px solid rgb(29, 29, 29);
  border-radius: 25px;
}

/* LOGIN */

.loginContainer {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.loginContainer .formContainer{
  color:white;
  width: 200px;
  margin-left: 335px;
  margin-right: 50px;
  background-color: #202027;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 500px;
  height: auto;
  padding: 20px;
  border: 2px solid rgb(29, 29, 29);
  border-radius: 25px;
}

span {
  color: red;
}




/* CARD */

.newCardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.newCardForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.newCardForm .newCardField {
  margin: 75px;
  background-color: #262632;
  width: 1600px;  
  height: 500px;
  border: 40px solid #202027;
  border-radius: 10px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  resize: none;
}

.newCardForm .buttonContainer {
  display: flex;
  justify-content: flex-end;
  float: right;
  margin: 75px;
  margin-top: 0px;
}

.newCardForm button {
  font-size: 20px;
  height: 50px;
  width: 200px;
  border: none;
  background-color: #0B4067;
  border-radius: 5px;
  color: white;
}

.newCardForm button:hover {
  cursor: pointer;
  background-color: lightskyblue;
}

.noCardContainer .header{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  margin: 200px;
  color: white;
  font-weight: 750;
}

.dashButtonContainer{
  display: flex;
  justify-content: flex-end;
  float: right;
  margin: 75px;
  margin-top: 0px;
}


.dashButtonContainer button {
  margin-left: 25px;
  font-size: 20px;
  height: 50px;
  width: 200px;
  border: none;
  background-color: #0B4067;
  border-radius: 5px;
  color: white;
}

.dashButtonContainer button:hover {
  cursor: pointer;
  background-color: lightskyblue;
}

.dashButtonContainer #easyButton {
  background-color: #156313;
}

.dashButtonContainer #midButton {
  background-color: #74700F;
}

.dashButtonContainer #hardButton {
  background-color: #661313;
}

.buttonContainer #cancelEdit {
  margin-right: 20px;
  background-color: #661313;
}
